html, body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  background: #e3e3e3;
  text-align: center;
}

@font-face {
  font-family: 'blantick';
  src: url('Blantick\ Script.ttf');
}

.container{
  max-width: 800px;
  margin: 0 auto;
}

h1{
  font-size: 2.8rem;
  margin: 0;
  font-family: 'blantick', sans-serif;
}

h2{
  font-size: 1rem;
  /* padding-bottom: 6rem; */
  margin-top: 0;
  /* padding-top: 2rem; */
}

header{
  border-bottom: 2px solid #bbb;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

.logo-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

main{
  margin: 0;
}

/* .countdown{
  font-size: 1.8rem;
} */

.intro{
  background: url('img/IMG_7130.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0 8rem;

}

.intro::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.25);
}

.intro h2, .intro p, .countdown{
  position: relative;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.countdown{
  display: flex;
  justify-content: center;
  
}

.countdown-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-inline: 1rem;
}

.countdown-section__timer{
  margin: 0;
  font-size: 1.8rem;
}

.countdown-section__text{
  font-size: 1rem;
  margin: 0;
}

.big-text{
  font-size: 4rem;
}

.dont-open{
  padding-top: 4rem;
}

.gift-img {
  margin: 20px auto;
  max-width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("img/gift-cover.jpg");
  background-size: cover;
  background-color: #fff;
}

#gift-img-butt:hover{
  background-image: url("img/butt.gif");
}

#gift-img-disney:hover{
  background-image: url("img/disney.JPG");
}

#gift-img-hot:hover{
  background-image: url("img/hot.gif");
}

#gift-img-nantahala:hover{
  background-image: url("img/natahala.jpg");
}

#gift-img-wedding:hover{
  background-image: url("img/wedding-dance.PNG");
}

#gift-img-shoes:hover{
  background-image: url("img/shoes.PNG");
}

.gift-section{
  margin: 4rem 0;
}

.gift-title{
  padding: 0 1rem 2rem;
}

.open-on-8{
  display: none;
}

.wait-til-8{
  display: block;
}

.no-top-margin{
  margin-top: 0;
  padding-top: 0;
}